.heading {
	font-family: verdana;
	color: red;
}

.signBy {
	color: red;
}

html { 
background: url("http://wallpapercave.com/wp/WSjKlp7.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.headerClass {
	background-color: 
}